*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkgray;
    min-height: 100vh;/* viewport height é mais responsivo que pixels*/
    display: flex;
    gap: 0px 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.item{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid;
    font-size: 14pt;
    display: flex;
    justify-content: center;
}